<h2>Jeu</h2>
<div class="text-center">
    <div class="font-weight-bold text-danger">
        Tour de Cédric
    </div>

    <div class="grid">
        <div *ngFor="let cell of grid" class="cell" >
            <!-- solution 1
            <div *ngIf="!cell.empty && cell.cross" class="cross"></div>
            <div *ngIf="!cell.empty && cell.cross" class="circle"></div> -->
            
            <!-- solution 2 -->
            <div *ngIf="!cell.empty" [class.cross]="cell.cross" 
                [class.circle]="cell.circle"></div>
        </div>
    </div>


    <button type="button" class="btn btn-primary">
        Recommencer la partie
    </button>

</div>